# python bytecode
*.pyc

# data files
instruments/*.json
instruments/*.csv
biomeasures/*_output.csv
biomeasures/*.json
algorithm/*.json

# android development
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# other files
additional_ideas.md
